<?xml version="1.0" encoding="utf-8" ?>
<SystemProperties>
    <classifiers>10</classifiers>
    <train-dataset>..\datasets\train_audit_risk.arff</train-dataset>
    <test-dataset>..\datasets\test_audit_risk.arff</test-dataset>
    <test-indices></test-indices>
    <attributes>6</attributes>
</SystemProperties>